.benefits {
    max-height: 470px;
    padding: 71px 0 64px 0;
    background-color: #f6f6f6;
    &__icons {
        display: flex;
        margin-top: 60px;
        justify-content: space-around;
    }
    &__icon {
        max-width: 270px;
        text-align: center;
        padding: 10px;
        &-image {
            width: 70px;
        }
        &-header {
            font-weight: 700;
            font-size: 18px;
            color: $text-color1;
            padding-top: 35px;
        }
        &-text {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: $text-color1;
        }
        &-link {
            display: block;
            font-family: 'MuseoModerno';
            font-weight: 300;
            text-decoration-line: underline;
            color: #FF0000;
            &:hover {
                color: #FF0000;
                text-decoration: none;
            }
        }
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            // animation-name: heartbeat;
            // animation-duration: 2s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}

@media(max-width: 521px) {
    .benefits {
        max-height: fit-content;
        padding: 30px 0 10px 0;
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        &__icon {
            &-header {
                padding-top: 5px;
            }
            &-image {
                margin-top: 20px;
            }
        }
    }
}